# stack-pr configuration for this repository.
#
# Committed defaults for `stack-pr` when run from this repo. Override locally
# with the STACKPR_CONFIG environment variable. See the "Config files" section
# of the README for all available options.

[repo]
remote = origin
target = main
